ipykernel
ipywidgets
python-dotenv
langchain
langchain-community
groq
langchain-groq
google-generativeai
langchain-google-genai 
google-genai
pypdf
streamlit
faiss-cpu
sentence-transformers
pip install sentence-transformers
